:root {
    --ActiveSignUpLoginButton: #21BA45;
    --MenuChangeDuration: 0.4s;
}


#LogSin-Menu {
    width: 440px;
    display: none;
}

.Login-SignUp-Menu {
    transition: display var(--MenuChangeDuration);
}


#Login-Menu-Header {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
}

#Signup-Login {
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 5px;
    border-style: solid;
    border-color: lightgray;
    margin-top: 10px;
}

.Signup-login-text {
    text-align: center;
    height: 60px;
    transition: var(--MenuChangeDuration);
    vertical-align: middle;
    line-height: 60px;
    background-color: white;
}

.Signup-login-text:hover {
    background-color: green;
    opacity: 0.7;
    cursor: pointer;
}

#logoImage {
    /* height: 100px; */
    display: block;
    margin: 0 auto;
}

#welcomeHeader {
    margin-top: 0;
    align-content: center;
    text-align: center;
}


.ui.form {
    padding: 13px;
}


#Login-Footer-Form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#loginButton {
    letter-spacing: 2px;
}

.loginFooter {
    font-size: 16px;
}

#LoginMenu-SignUp-Link {
    line-height: 36px;
    padding-right: 15px;
}

