:root {
    --Down-Card-Background-Color: #388E3C;
    --Down-Card-Border-Color: #1B5E20;
    --Down-Card-Hover-Transition: 0.5s;
}


#ProfileContent {
    display: flex;
    flex-direction: column;
}

#projectsContent {
    padding-top: 70px;
    margin: 0 auto 35px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    width: 85%;
}


.ui.form > .two.fields > .field {
    margin-right: 0;
    margin-left: auto;
}


#MainProfileContent {
    /*display: flex;*/
    /*flex-direction: row;*/
    width: 100%;
    padding: 40px;
}


#MainProfileForm {
    padding: 30px 0 30px 60px;
    width: 100%;
}


#ImageTippoContent {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

#TippoTag {
    max-width: 190px;
    margin: 10px auto;
}


#leftDiv {
    padding-right: 20px;
    width: 40%;
}

.card {
    border-color: #6e6e6e;
    border-style: solid;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    height: 140px;
    justify-content: space-between;
}
.card:hover {
    cursor: pointer;
    background-color: var(--Down-Card-Background-Color);
    border-color: var(--Down-Card-Border-Color);
    transition: var(--Down-Card-Hover-Transition);
}
.card:hover > div {
    color: white;
    transition: var(--Down-Card-Hover-Transition);
}
.card:hover > header > i {
    color: white;
    transition: var(--Down-Card-Hover-Transition);
}
.card:hover > header > h3 {
    color: white;
    transition: var(--Down-Card-Hover-Transition);
}

#chooseEditProjects {
    margin: 20px auto;
    max-width: 280px;
    min-width: 250px;
}

.myIcon {
    font-size: 35px;
    float: left;
    padding: 15px;
}

.number {
    float: right;
    font-size: xx-large;
    margin-top: auto;
    padding: 10px;
}

.cardP {
    float: right;
    margin-top: auto;
    margin-left: auto;
    padding: 10px;
}

.cardHeader {
    justify-content: space-between;
}

#divider1 {
    width: 80%;
    margin: 0 auto;
}

#saveButton {
    margin-top: 20px;
}

#linksComponent {
    background-image: url("../../Pics/githubImage2.png");
    background-repeat: no-repeat;
    margin-left: 100px;
}

#saveLinksButton {
    width: 97px;
    margin: 45px 51% 0 auto;
}

#passwordFields {
    margin-left: auto;
}

#changePasswordButton {
    margin: 0 83% 0 auto;
}

#divider2 {

}

#gitHubRepos {
    margin: 14px 20% 14px 50%;
    min-height: 106px;
}

#addGitHubRepoInput {
    width: 100%;
}


#addRepoDiv {
    display: none;
}

#changingPasswordContent {
    padding: 4%;
    width: 80%;
}
