.div-content {
    position: relative;
    display: flex;
    flex-direction: row;
    height: auto;
}

.codingPersonImageDiv {
    padding: 20px;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;

}

.content-paragraphHeader {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: auto;
    width: auto;
}

#textH {
    margin-left: auto;
}
#textP{
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: large;
}

#subscribeButton {
    width: fit-content;
}